.createTodoButton {
    width: 10vh;
    height: 10vh;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    background-color: var(--purple);
    color: var(--white);
    font-size: 1.9rem;
    transform: rotate(0deg);
    transition-duration: 0.4s;
    z-index: 999;
}
.createTodoButton:hover{
    transition-duration: 0.4s;
    transform: rotate(45deg);
}