.themeContainer{
    position: fixed;
    position: fixed;
    bottom: 17vh;
    right: 4.5vw;
    max-width: 900px;
    min-width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border-radius: 10px;
    z-index: 11;
}

.themeContainer ul{
    margin: 15px 0px 50px;
    display: flex;
}

.themeList{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    margin: 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s
}

.lightAzul{
    border: solid 2px var(--blue);
    background-color: var(--white);
}
.lightRojo{
    border: solid 2px var(--red);
    background-color: var(--white);

}
.lightMorado{
    border: solid 2px;
    border-color: var(--purple);
    background-color: var(--white);

}
.lightVerde{
    border: solid 2px var(--green); 
    background-color: var(--white);
}

.lightBlanco{
    border: solid 2px rgb(187, 187, 187);
    background-color: var(--white);
}

/*hover*/
.lightAzul:hover{
    background-color: var(--blue);
    color: #fff;

}

.lightRojo:hover{
    background-color: var(--red);
    color: #fff;
}

.lightMorado:hover{
    background-color: var(--purple);
    color: #fff;


}

.lightVerde:hover{
    background-color: var(--green);
    color: #fff;

}

.lightBlanco:hover{
    background-color: rgb(187, 187, 187);
    color: var(--darkGrey);


}

/* dark theme never used */


.darkAzul{
    border: solid 5px var(--blue);
    background-color: #000;
    color: #fff;
}
.darkRojo{
    border: solid 5px var(--red);
    background-color: #000;
    color: #fff;
}
.darkMorado{
    border: solid 5px var(--Morado);
    background-color: #000;
    color: #fff;


}
.darkVerde{
    border: solid 2px green;
    background-color: #000;
    color: #fff;

}
.darkNegro{
    border: solid 2px #000;
    background-color: #000;
    color: #fff;
}