.itemContainer{
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 15px 40px;
    border-radius: 0.8vh;
    justify-content: space-between;
    color: var(--grey);

}

.textContainer{
    display: flex;
    flex-direction:column;

}
.iconsContainer{
    display: flex;
    flex-direction:row;

}

.titulo{
    margin: 0;
    color: #939099;
    text-transform: capitalize;
}
.titulo--active{
    margin: 0;
    color: var(--green);
    text-transform: uppercase;
}

.texto{
    margin: 0;
}

hr{
    width: 95%;
    background-color: var(--grey);
    height: 1px;
    border: none;

}

.hr--active{
    width: 95%;
    background-color: var(--green);
    height: 3px;
    border: none;
    opacity: 10%;

}

.icon{
    width: 26px;
    height: 26px;
    margin:3px;
}

.icon-check{
    position: relative;
    background-image: url("../img/check-grey.svg");

}
.icon-check--active{
    background-image: url('../img/check-color.svg');
}
.icon-delete{
    position: relative;
    background-image: url('../img/trash.svg');
    transition-duration: 0.4s;
}
.icon-delete:hover{
    position: relative;
    background-image: url('../img/trash-red.svg');
    transform: rotate(0deg);

}