.formContainer{
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    }
      
label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
    }
    
.todoTitle{
    background-color: #F9FBFC;
    width: calc(100% - 25px);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    margin: 12px 0px;
}

.todoDescript {
    background-color: #F9FBFC;
    border-radius: 5px;
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
    resize: none;
}

.inputsAzul{
    border-color: var(--blue);
}
.inputsRojo{
    border-color: var(--red);
}
.inputsMorado{
    border-color: var(--purple);
}
.inputsVerde{
    border-color: var(--green);
}

.todoDescript::placeholder {
    color: #A5A5A5;
    font-weight: 400;
}

textarea:focus {
    outline-color: #61DAFA;
    }

.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    transition-duration: 0.4s;
}

.addAzul {
    background: var(--blue);
    color: #fff;
    font-weight: 400;
}
.addRojo {
    background: var(--red);
    color: #fff;
    font-weight: 400;
}
.addMorado {
    background: var(--purple);
    color: #fff;
    font-weight: 400;
}
.addVerde {
    background: var(--green);
    color: #fff;
    font-weight: 400;
}
.addBlanco {
    background: var(--darkGrey);
    color: #fff;
    font-weight: 400;
}


.addAzul:hover {
    box-shadow: 0px 5px 25px  var(--blue);    
}
.addRojo:hover {
    box-shadow: 0px 5px 25px  var(--red);
}
.addMorado:hover {
    box-shadow: 0px 5px 25px  var(--purple);
}
.addVerde:hover {
    box-shadow: 0px 5px 25px  var(--green);    
}
.addBlanco:hover {
    box-shadow: 0px 5px 25px  var(--darkGrey);

}

.TodoForm-button--cancel {
background: transparent;
}