.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppUIdarkAzul{
  background-color: rgb(0, 4, 44);
  min-height: 100vh;
}
.AppUIdarkRojo{
  background-color: var(--darkGrey);
  min-height: 100vh;
}
.AppUIdarkMorado{
  background-color: blueviolet;
  min-height: 100vh;
}
.AppUIdarkVerde{
  background-color: blueviolet;
  min-height: 100vh;
}

header {
  width: 100%;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 15px 0px;
  transition-duration: 0.4s;
  color: var(--white)

}
.header_Azul{
  background: var(--Azul) 
}
.header_Rojo{
  background: var(--Rojo) 
}
.header_Morado{
  background: var(--Morado) 
}
.header_Verde{
  background: var(--Verde) 
}
.header_Blanco{
  background: var(--grey);
  color: var(--darkGrey)
}

h1 {
  font-size: 16pt;
  font-weight: 300;

}
