.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background: rgb(209,126,242);
  background: -moz-linear-gradient(180deg, rgba(209,126,242,1) 0%, rgba(146,110,220,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(209,126,242,1) 0%, rgba(146,110,220,1) 100%);
  background: linear-gradient(180deg, rgba(209,126,242,1) 0%, rgba(146,110,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d17ef2",endColorstr="#926edc",GradientType=1);
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
  padding: 15px;
}

h1 {
  font-size: 15pt;
  text-transform: uppercase;

}
