:root{
  --dominant: #0E0741;
  --purple: #c89af2;
  --white: white;
  --grey: #d7d7d9;
  --green: #00ce00;

}

body {
  margin: 0;
  font-family: 
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Montserrat,
    monospace;
}
